*{
  color: white;
 Background-color: Black;
  font-family:Sans-serif;
}

body{
   
  padding: 20px;
  
}

p{
  text-align: justify;
}
h1{

  text-align: center;
  
  text-decoration: underline;
}

img{
    display: block;
    margin: auto;
  	border-radius: 8px;
  	border: 5px solid white;
}

h2{
}

div {
    columns: 100px 2;
  
}

a{
  border: 3px solid white;
  border-radius: 10px;
  text-decoration: none;
}

a:hover{
  color: gray;
  border: 3px solid gray;
}